.vscode/
.qtc_clangd/
*.swp
*.swo
*~

*.o
*.obj
*.exe
*.out
*.app/
*.dSYM/

*.pro.user
*.pro.user.*
.qmake.stash
moc_*.cpp
moc_*.h
ui_*.h
qrc_*.cpp
*.qm
*.ts

*/build/
build/
*/obj/
obj/
Makefile
compile_commands.json

.cache/
.clangd/

*.tmp
*.bak
*.backup
*~

*.log

app.exe
*.exe
